doctype html
html(lang = "en")
	head
		title Formulario NodeJS
	body
		form
			
			h4 Nombre : 
			input( type = "text" name = "Name")
			br
			h4 Apellido : 
			input( type = "text" name = "LastName")
			br
			h4 Correo : 
			input( type = "text" name = "Mail")
			br
			input( type = "button" name = "Click Me to Send")